* {
    background-color: #7fedf3;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    width: auto;
    margin: 5px;
    padding: 2px;
    display: block;

}

title {
    visibility: hidden;
}

img {
    height: 300px;
    width: auto;
    margin: auto;
}

.superheading {
    display: block;
    color: #f33d30;
    font-weight: bold;
    font-stretch: auto;
    text-align: center;
    padding: 15px;
    margin: auto;
    width: 7em;
    border-color: rgba(234, 216, 16, 0.857);
    border-width: 10px;
    border-style: double;
}

.heading {
    display: block;
    color: #edf428;
    font-weight: bold;
    font-stretch: auto;
    text-align: center;
    padding: 15px;
    margin: 1em auto;
    width: 10em;
    border-color: rgba(234, 216, 16, 0.194);
    border-width: 10px;
    border-style: double;
}

.subheading {
    color:rgb(255, 20, 232);
    text-align: center;
}

.type-coffee {
    text-decoration: underline;
}

div {
    display: block;
    align-items: center;
    width: 400px;
    margin: auto;
    padding: 0em;
    
}

p {
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(255, 20, 232);
    font-weight: bold;
    text-align: center;
}

ol, ul, li {
    color: yellow;
    text-align: center;
    width: 900px;
    margin: auto;
    padding: 6px;
}

.recipe {
    color: white;

}

.lasagna, .ziti, .coffee {
    border-color: rgba(234, 216, 16, 0.847);
    border-width: 4px;
    border-style: solid;
}

.home {
    border-color: rgba(234, 216, 16, 0.857);
    border-width: 10px;
    border-style: double;
    margin: auto;
    width: 6em;
}